[submodule "deps/yaml-cpp"]
	path = deps/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "deps/andersen"]
	path = deps/andersen
	url = git@github.com:efeslab/andersen.git
[submodule "deps/pmtest"]
	path = deps/pmtest
	url = git@github.com:efeslab/pmtest.git
[submodule "deps/pmdk"]
	path = deps/pmdk
	url = https://github.com/pmem/pmdk.git
[submodule "deps/valgrind-pmem"]
	path = deps/valgrind-pmem
	url = git@github.com:efeslab/valgrind.git
[submodule "deps/RECIPE"]
	path = deps/RECIPE
	url = git@github.com:efeslab/RECIPE.git
